<div class="container">
  <h2>Create post</h2>

  <form method="post" action="/posts/store" class="create-post">
    <label for="title">title</label>
    <input name="title" id="title" type="text" />

    <label for="description">description</label>
    <input name="description" id="description" type="text" />

    <label for="thumbnail">thumbnail url</label>
    <input name="thumbnail" id="thumbnail" type="text" />

    <label for="video">video source</label>
    <input name="video" id="video" type="text" />

    <button type="submit">Create</button>
  </form>
</div>